<h1>Bolo de chocolate</h1>
<ul>
    {{#each nome}}
    <li> {{this}}</li>
    {{/each}}
</ul>
<p>Massa</p>
<ul>
{{#each massa}}
<li>{{this}}</li>
{{/each}}
</ul>
<p>Cobertura</p>
<ul>
{{#each cobertura}}
<li>{{this}}</li>
{{/each}}
</ul>